img {
  max-width: 100%;
  height: auto;
}

header {
  font-family: 'Calibri', sans-serif;
}
header .head-back {
  width: 100%;
  height: 50px;
  background: url("/img/head_back.png") repeat-x;
}
header .logo-wrap {
  width: 250px;
  display: inline-block;
  float: left;
}
header .menu {
  display: inline-block;
  text-align: center;
}
header .menu li {
  height: 50px;
}
header .menu li:before {
  content: " ";
  width: 2px;
  height: 50px;
  position: absolute;
  left: 0px;
  z-index: 1000;
  background: url("/img/sep_line.png");
}
header .menu li:last-child:after {
  content: " ";
  width: 2px;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 1000;
  background: url("/img/sep_line.png");
}
header .menu a {
  width: 200px;
  height: 50px;
  color: #fff;
  font-family: 'Calibri', sans-serif;
  font-size: 20px;
  vertical-align: middle;
}
header .menu a:hover {
  background: #6f6f6e;
  text-decoration: none;
}
header .search-wrap {
  width: 250px;
  float: right;
  padding: 8px 0px;
}
header .search-wrap form {
  float: right;
}
header .search-wrap .srch-btn {
  position: absolute;
  right: 10px;
  top: 3px;
  display: block;
  width: 25px;
  height: 25px;
}
header .search-wrap .search-btn {
  width: 25px;
  height: 25px;
  border: none;
  background: url("/img/search.png");
}
header .search-wrap .search-main {
  float: right;
  width: 230px;
  height: 34px;
}

.slider-sect {
  margin-top: 15px;
}
.slider-sect .slider {
  position: relative;
}
.slider-sect .slider .nav {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 160px;
  height: 40px;
  background: rgba(99, 99, 98, 0.6);
  z-index: 999999;
}
.slider-sect .nivo-controlNav {
  position: absolute;
  bottom: 0px;
  right: 15px;
  z-index: 9999;
  padding: 10px 16px 0 0;
  min-width: 160px;
  height: 40px;
  text-align: right;
  background: rgba(99, 99, 98, 0.6);
}
.slider-sect .nivo-controlNav a.nivo-control {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  display: inline-block;
  background: url("/img/nivoSelector.png") center;
  color: rgba(255, 255, 255, 0);
}
.slider-sect .nivo-controlNav a.active {
  background: url("/img/nivoSelectorActive.png") center;
}

.content-sect .content {
  width: 100%;
  border: 5px #e0e0e0 solid;
  margin-top: 37px;
  min-height: 300px;
  position: relative;
  padding: 29px 20px 0px 29px;
  color: #636362;
}
.content-sect .content .content-title {
  position: absolute;
  top: -26px;
  background: #fff;
  display: inline-block;
  padding: 0px 10px;
  left: 21px;
  font-family: "impact", sans-serif;
  font-size: 28px;
}
.content-sect .content p {
  word-spacing: 4px;
  font-family: "Calibri", sans-serif;
  font-size: 16px;
  margin: 0 0 26px;
}
.content-sect .content p:last-child {
  font-weight: 600;
}

.example-sect .container-fluid {
  background: #474747;
  margin-top: 37px;
}
.example-sect .example-wrap {
  min-height: 700px;
}
.example-sect .example-wrap .title {
  display: block;
  text-align: center;
  color: #fff;
  letter-spacing: -0.2px;
  text-shadow: 0px -2px 0px black;
  margin-top: 24px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.example-sect .example-wrap ul li {
  list-style: none;
  padding: 0px;
}
.example-sect .example-wrap ul li a {
  width: 100%;
  height: 200px;
  display: inline-block;
}
.example-sect .example-wrap ul li a:hover > span {
  background: #086bb8;
}
.example-sect .example-wrap ul li a span {
  display: inline-block;
  width: 160px;
  margin-top: 50px;
  padding: 5px 15px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  line-height: 110%;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'PT Sans', sans-serif;
}
.example-sect .example-wrap #shkaf {
  background: url("/img/shkaf.png") no-repeat center;
}
.example-sect .example-wrap #shkaf2 {
  background: url("/img/shkaf2.png") no-repeat center;
}
.example-sect .example-wrap #shkaf3 {
  background: url("/img/shkaf3.png") no-repeat center;
}
.example-sect .example-wrap #kitchen {
  background: url("/img/kitchen.png") no-repeat center;
}
.example-sect .example-wrap #fotooboi {
  background: url("/img/Fotooboy.png") no-repeat center;
}
.example-sect .example-wrap #pol {
  background: url("/img/pol.png") no-repeat center;
}
.example-sect .example-wrap #trafaret {
  background: url("/img/trafaret.png") no-repeat center;
}
.example-sect .example-wrap #stena {
  background: url("/img/stena.png") no-repeat center;
}
.example-sect .example-wrap #holodilnik {
  background: url("/img/holodilnik.png") no-repeat center;
}
.example-sect .example-wrap #table {
  background: url("/img/table.png") no-repeat center;
}
.example-sect .example-wrap #kartina {
  background: url("/img/kartina.png") no-repeat center;
}
.example-sect .example-wrap #mirror {
  background: url("/img/mirror.png") no-repeat center;
}

.ft-content-sect {
  color: #636362;
  padding-top: 33px;
}
.ft-content-sect font {
  family: 'Calibri', sans-serif;
  size: 18px;
}
.ft-content-sect a {
  color: #06cacc;
}
.ft-content-sect p {
  margin-bottom: 28px;
  letter-spacing: 1.1px;
  line-height: 1.6;
}

footer {
  margin-top: 20px;
}
footer .container-fluid {
  height: 60px;
  background: #474747;
}
footer .container-fluid span.copyright {
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 18px;
  font-family: 'Calibri', sans-serif;
  font-size: 18px;
}

.breadcrumbs {
  margin-top: 3px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
}
.breadcrumbs .main, .breadcrumbs .separator {
  color: #afafaf;
}
.breadcrumbs a {
  color: #2b2a2b;
}

.page-title-h1 h1 {
  color: #818180;
  font-family: 'PT Sans', sans-serif;
  font-size: 33px;
  font-weight: 600;
  font-line-height: 1.3;
}

.links-wrapper {
  font-family: 'PT Sans', sans-serif;
  margin-top: 15px;
}
.links-wrapper .link-block {
  padding: 0px;
  margin-bottom: 10px;
}
.links-wrapper .link-block .icon-link-wrap {
  width: 38px;
  height: 100%;
  float: left;
}
.links-wrapper .link-block .icon-link-wrap a {
  width: 100%;
  height: 36px;
  display: block;
  background-color: #de8d00;
  background-image: url("/img/download_link.png");
}
.links-wrapper .link-block .link {
  float: left;
  padding: 3px 8px;
}
.links-wrapper .link-block .link a {
  font-size: 18px;
}
.links-wrapper .link-block .count {
  font-size: 18px;
  float: right;
  padding: 4px 11px 0px 0px;
}
.links-wrapper .link-block:nth-child(2n+1) {
  background: #7d7d7d;
}
.links-wrapper .link-block:nth-child(2n+1) .link a {
  color: #fff;
}
.links-wrapper .link-block:nth-child(2n+1) .count {
  color: #fff;
}
.links-wrapper .link-block:nth-child(2n) {
  background: none;
}
.links-wrapper .link-block:nth-child(2n) .link a {
  color: #06cacc;
}
.links-wrapper .link-block:nth-child(2n) .count {
  color: #636362;
}

.clear {
  clear: both;
}

.labels {
  padding-top: 38px;
}
.labels label {
  color: #818180;
  margin-left: -32px;
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  font-weight: 400;
}
.labels span.data {
  color: #484848;
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.sender > .row > div {
  padding-top: 22px;
}

.sender-any > .row > div {
  padding-top: 30px;
}

.inputs {
  margin-left: -9px;
  padding-top: 38px;
}
.inputs input[type="text"], .inputs textarea {
  color: #818180;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}
.inputs input[type="text"] {
  border-radius: 10px;
  border: 1px solid #9e5e5e;
  width: 401px;
  height: 36px;
  padding: 0px 10px;
}
.inputs textarea {
  resize: none;
  border: 1px solid #9e5e5e;
  border-radius: 10px;
  width: 400px;
  height: 196px;
  padding: 0px 10px;
  line-height: 1.4;
  font-size: 17px;
  padding-top: 3px;
}
.inputs input.error-field {
  border: 1px #ff0000 solid;
}

.validate {
  padding-top: 38px;
  padding-left: 45px;
}
.validate span {
  color: #ff0000;
  position: relative;
  top: 4px;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.label-text {
  color: #818180;
  display: inline-block;
  height: 36px;
  float: left;
  margin-right: 33px;
  font-family: 'PT Sans', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

.file-name {
  display: inline-block;
  float: left;
  color: #818180;
  margin-left: 26px;
  padding-top: 4px;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
}

.files-block {
  padding-left: 18px;
  margin-top: 34px;
}
.files-block .upload-btn {
  width: 140px;
  height: 36px;
  border: none;
  float: left;
  background-image: url("/img/up_btn_sprite.png");
}
.files-block .upload-btn:hover {
  background-position: -140px 0px;
}
.files-block .upload-btn:focus {
  background-position: -280px 0px;
}

.capcha-block {
  margin-top: 53px;
}
.capcha-block .capcha-text {
  color: #818180;
  display: inline-block;
  float: left;
  margin-right: 25px;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
}
.capcha-block input[type="text"] {
  border: 1px #7d7d7d solid;
  border-radius: 10px;
  width: 161px;
  height: 36px;
  float: left;
  padding: 0 10px;
}
.capcha-block .capcha-form {
  width: auto;
  height: 80px;
  float: left;
  margin: -24px 0px 0px 19px;
}
.capcha-block .capcha-form .re_capcha {
  width: 26px;
  height: 26px;
  display: inline-block;
  position: relative;
  top: 5px;
  left: 18px;
  background-image: url("/img/re_capcha.png");
}

.subm-bl {
  margin: 40px auto;
}
.subm-bl .send-order {
  width: 220px;
  height: 42px;
  border: none;
  position: relative;
  left: 372px;
  background-image: url("/img/send_btn.png");
}
.subm-bl .send-order:hover {
  background-position: -220px 0px;
}
.subm-bl .send-order:focus {
  background-position: -440px 0px;
}

@media (max-width: 1199px) {
  .inputs {
    margin-left: 0px;
    padding-top: 5px;
  }
  .inputs input[type="text"], .inputs textarea {
    width: 100%;
  }

  .labels {
    padding-top: 5px;
  }
  .labels label {
    margin-left: 0px;
    margin-right: 15px;
  }

  .subm-bl .send-order {
    left: auto !important;
    margin: 0 auto;
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .menu li a {
    width: 130px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .logo-wrap {
    width: 200px;
  }
  header .search-wrap {
    width: 175px;
  }
  header .search-wrap input[type="text"] {
    width: 160px;
  }
  header .menu li a {
    width: 100px;
  }

  .sender-any > .row > div {
    padding-top: 5px;
  }

  .sender > .row > div {
    padding-top: 5px;
  }

  .capcha-block .capcha-form {
    margin: 15px 0px;
  }
}
@media (min-width: 768px) {
  header .nav-title {
    display: none;
  }
  header .navbar {
    background: none;
    box-shadow: none;
    border: none;
    margin: 0px;
  }
  header .navbar-collapse {
    padding: 0px;
  }
  header .navbar-default .navbar-nav > li > a {
    color: #fff;
  }
  header .navbar-default .navbar-nav > li > a:hover {
    background: #6e6e6e;
    color: #fff !important;
  }
}
@media (min-width: 550px) and (max-width: 767px) {
  .example-sect ul {
    margin-left: -24px;
  }
  .example-sect ul li {
    width: 50%;
  }

  .inputs input[type="text"] {
    width: 60%;
  }
  .inputs textarea {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .capcha-block {
    margin-top: 25px;
  }
  .capcha-block span.capcha-text {
    width: 100%;
  }
  .capcha-block .capcha-form {
    margin: 20px auto;
    width: 100%;
  }
  .capcha-block input[type="text"] {
    margin-top: 15px;
  }

  .label-text {
    width: 100%;
    margin-bottom: 15px;
  }

  .sender-any > .row > div {
    padding-top: 5px;
  }

  .sender > .row > div {
    padding-top: 5px;
  }

  .data {
    margin-top: 20px;
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 549px) {
  .example-sect .example-wrap ul {
    margin-left: -20px;
  }
  .example-sect .example-wrap ul li a {
    display: block;
    margin: 0 auto;
    width: 250px !important;
  }

  .content-sect .content .content-title {
    position: relative;
    margin-top: -50px;
    padding: 0px 5px;
    top: auto;
    left: auto;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 360px) {
  .content-sect .content {
    padding: 29px 10px 0px 10px;
  }
  .content-sect .content .content-title {
    font-size: 23px;
  }

  .capcha-block input[type="text"] {
    width: 88%;
  }
  .capcha-block .capcha-form .re_capcha {
    left: 10px;
  }
}

/*# sourceMappingURL=fotobank_style.css.map */
