
img {
    max-width: 100%;
    height: auto;
}

header {
    font-family: 'Calibri', sans-serif;
    .head-back {
        width: 100%;
        height: 50px;
        background: url("/img/head_back.png") repeat-x;
    }
    
    .logo-wrap {
        width: 250px;
        display: inline-block;
        float: left;
    }
    
    .menu {
        display: inline-block;
        text-align: center;
        
        li {
            height: 50px;
            
            &:before {
                content: " ";
                width: 2px;
                height: 50px;
                position: absolute;
                left: 0px;
                z-index: 1000;
                background: url("/img/sep_line.png");
            }
            
            &:last-child:after {
                content: " ";
                width: 2px;
                height: 50px;
                position: absolute;
                right: 0px;
                top: 0px;
                z-index: 1000;
                background: url("/img/sep_line.png");
            }
        }
        a {
           width: 200px;
           height: 50px;
           color: #fff;
           font: {
               family: 'Calibri', sans-serif;
               size: 20px;
           }
           //display: table-cell;
           vertical-align: middle;
            
            
            
            &:hover {
                background: #6f6f6e;
                text-decoration: none;
            }
        }
    }
    
    .search-wrap {
        width: 250px;
        float: right;
        padding: 8px 0px;
        
        form {float: right;}
        
        .srch-btn {
            position: absolute;
            right: 10px;
            top: 3px;
            display: block;
            width: 25px;    
            height: 25px;
        }
        
        .search-btn {
            width: 25px;
            height: 25px;
            border: none;
            background: url("/img/search.png");
        }
        
        .search-main {
            float: right;
            width: 230px;
            height: 34px;
        }
    }
}

//Slider
.slider-sect {
   margin-top: 15px;
    
    .slider {
        position: relative;
        
        .nav {
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 160px;
            height: 40px;
            background: rgba(99, 99, 98, 0.6);
            z-index: 999999;
        }
    } 
    
    .nivo-controlNav {
        position: absolute;
        bottom: 0px;
        right: 15px;
        z-index: 9999;
        padding: 10px 16px 0 0;
        min-width: 160px;
        height: 40px;
        text-align: right;
        background: rgba(99,99,98, 0.6);
        
        a.nivo-control {
            width: 18px;
            height: 18px;
            margin-left: 10px;
            display: inline-block;
            background: url("/img/nivoSelector.png") center;
            color: rgba(255,255,255, 0);
        }
        
        a.active {
            background: url("/img/nivoSelectorActive.png") center;
        }
    }
}

//Content
.content-sect {
    .content {
        width: 100%;
        border: 5px #e0e0e0 solid;
        margin-top: 37px;
        min-height: 300px;
        position: relative;
        padding: 29px 20px 0px 29px;
        color: #636362;
        
        .content-title {
            position: absolute;
            top: -26px;
            background: #fff;
            display: inline-block;
            padding: 0px 10px;
            left: 21px;
            font: {
                family: "impact", sans-serif;
                size: 28px;
            }
        }
        
        p {
            word-spacing: 4px;
            font: {
                family: "Calibri", sans-serif;
                size: 16px;
            }
            margin: 0 0 26px;
        
        &:last-child {
            font-weight: 600;
        }
        }
        
    } 
}

//Examples 
.example-sect {
    .container-fluid {
        background: #474747;
        margin-top: 37px;
    }
    
    .example-wrap {
        min-height: 700px;
        
        .title {
            display: block;
            text-align: center;
            color: #fff;
            letter-spacing: -0.2px;
            text-shadow: 0px -2px 0px rgb(0, 0, 0);
            margin-top: 24px;
            font: {
                family: 'PT Sans', sans-serif;
                weight: bold;
                size: 30px;
            }
        }
        
        ul  li {
            list-style: none;
            padding: 0px;
            
            a {
                width: 100%;
                height: 200px;
                display: inline-block;
                
                &:hover > span {
                        background: #086bb8;
                    }
                
                span {
                    display: inline-block;
                    width: 160px;
                    margin-top: 50px;
                    padding: 5px 15px;
                    border-top-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 110%;
                    text-transform: uppercase;
                    color: #fff;
                    background-color: rgba(0, 0, 0, 0.7);
                    font-family: 'PT Sans', sans-serif;
                }
            }
            
        }
        
        #shkaf {background: url("/img/shkaf.png") no-repeat center;}
        #shkaf2 {background: url("/img/shkaf2.png") no-repeat center;}
        #shkaf3 {background: url("/img/shkaf3.png") no-repeat center;}
        #kitchen {background: url("/img/kitchen.png") no-repeat center;}
        #fotooboi {background: url("/img/Fotooboy.png") no-repeat center;}
        #pol {background: url("/img/pol.png") no-repeat center;}
        #trafaret {background: url("/img/trafaret.png") no-repeat center;}
        #stena {background: url("/img/stena.png") no-repeat center;}
        #holodilnik {background: url("/img/holodilnik.png") no-repeat center;}
        #table {background: url("/img/table.png") no-repeat center;}
        #kartina {background: url("/img/kartina.png") no-repeat center;}
        #mirror {background: url("/img/mirror.png") no-repeat center;}
    }
}

//Footer content block
.ft-content-sect {
    color: #636362;
    padding-top: 33px;
    font {
        family: 'Calibri', sans-serif;
        size: 18px;
    }
    
    a {
        color: #06cacc;
    }
    
    p {
        margin-bottom: 28px;
        letter-spacing: 1.1px;
        line-height: 1.6;
    }
}

//Footer
footer {
    margin-top: 20px;
    
    .container-fluid {
        height: 60px;
        background: #474747;
    
        span.copyright {
            color: #fff;
            display: block;
            text-align: center;
            margin-top: 18px;
            font: {
                family: 'Calibri', sans-serif;
                size: 18px;
            }    
        }
    }
}

.breadcrumbs {
    margin-top: 3px;
    font: {
        family: 'PT Sans', sans-serif;
        size: 13px;
    }
    
    .main, .separator {
        color: #afafaf;
    }
    
    a {
        color: #2b2a2b;
    }
}

.page-title-h1 {
    ///margin-top:
    
    h1 {
        color: #818180;
        font: {
            family: 'PT Sans', sans-serif;
            size: 33px;
            weight: 600;
            line-height: 1.3;
        }
    }
}

.links-wrapper {
    font-family: 'PT Sans', sans-serif;
     margin-top: 15px;
    
    .link-block{
        padding: 0px;
        margin-bottom: 10px;
        
        .icon-link-wrap{
            width: 38px;
            height: 100%;
            float: left;           
            a {
                width: 100%;
                height: 36px;
                display: block;
                background: {
                    color: #de8d00;
                    image: url("/img/download_link.png");
                }
            }
        }
        
        .link {
            float: left;
            padding: 3px 8px;
            
            a {
                font: {
                    size: 18px;
                }
            }
        }
        
        .count {
            font-size: 18px;
            float: right;
            padding: 4px 11px 0px 0px;
        }
    }
    
    .link-block:nth-child(2n+1) {
        background: #7d7d7d; 
        
        .link {
            a {
                color: #fff;
            }
        }
        
        .count {
            color: #fff;
        }
    }
    
     .link-block:nth-child(2n) {
         background: none;
         
         .link {
             a {color: #06cacc;}
         }
         
        .count {
            color: #636362;
        }
    }
}


.clear {
    clear: both;
}

//Order page 
.labels {
    padding-top: 38px;
    
    label {
        color: #818180;
        margin-left: -32px;
        display: block;
        font: {
            family: 'PT Sans', sans-serif;
            size: 21px;
            weight: 400;
        }
     }
    
    span.data {
        color: #484848;
        font: {
            family: 'PT Sans', sans-serif;
            size: 22px;
            weight: 400;
        }
    }
}

.sender {
    & > .row >  div {
        padding-top: 22px;
    }
}

.sender-any {
    & > .row >  div {
        padding-top: 30px;
    }
}

.inputs {
    margin-left: -9px;
    padding-top: 38px;
    
    input[type="text"], textarea {
        color: #818180;
        font: {
            family: 'PT Sans', sans-serif;
            size: 18px;
        }
    }
    
    input[type="text"] {
        border-radius: 10px;
        border: 1px solid rgb(158, 94, 94);
        width: 401px;
        height: 36px;
        padding: 0px 10px;
    }
    
    textarea {
        resize: none;
        border: 1px solid rgb(158, 94, 94);
        border-radius: 10px;
        width: 400px;
        height: 196px;
        padding: 0px 10px;
        line-height: 1.8;
    }
    
    input.error-field {
        border: 1px #ff0000 solid;
    }
}

.validate {
    padding-top: 38px;
    padding-left: 45px;
    
    span {
        color: #ff0000;
        font: {
            family: 'PT Sans', sans-serif;
            size: 17px;
            weight: 400;
        }
    }
}

.label-text {
    color: #818180;
    display: inline-block;
    height: 36px;
    float: left;
    margin-right: 33px;
        font: {
            family: 'PT Sans', sans-serif;
            size: 22px;
            weight: 400;
    }
}

.file-name {
    display: inline-block;
    float: left;
    color: #818180;
    margin-left: 26px;
    padding-top: 4px;
    font: {
        family: 'PT Sans', sans-serif;
        size: 17px;
    }
}

.files-block {
    padding-left: 18px;
    margin-top: 34px;
    
    .upload-btn {
        width: 140px;
        height: 36px;
        border: none;
        float: left;
        background: {
            image: url("/img/up_btn_sprite.png");
        }
        
        &:hover {
            background: {
                position: -140px 0px;
            }
        }
        
        &:focus {
            background: {
                position: -280px 0px;
            }
        }
    }
}

.capcha-block {
    margin-top: 53px;
    
    .capcha-text {
        color: #818180;
        display: inline-block;
        float: left;
        margin-right: 25px;
        font: {
            family: 'PT Sans', sans-serif;
            size: 21px;
        }
    }
    
    
    input[type="text"] {
        border: 1px #7d7d7d solid;
        border-radius: 10px;
        width: 161px;
        height: 36px;
        float: left;
    }
    
    .capcha-form {
        width: auto;
        height: 80px;
        float: left;
        margin: -24px 0px 0px 19px;
    }
}


@media(min-width: 992px) and (max-width: 1199px){
    .menu {
        li {
            a {
                width: 130px;
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    header {
        .logo-wrap {
            width: 200px;
         }
    
    .search-wrap {
        width: 175px;
        
        input[type="text"] {
            width: 160px;
        }
    }
        .menu {
            li {
                a {
                    width: 100px;
                }
            }
        }
    }
    
}

@media(min-width: 768px) {
    header {
        .nav-title {
            display: none;
        }
        
        .navbar {
            background: none;
            box-shadow: none;
            border:none;
            margin: 0px;
        }
        
        .navbar-collapse {
            padding: 0px;
        }
        
        .navbar-default .navbar-nav>li>a {
            color: #fff;
            
            &:hover {
                background: #6e6e6e;
                color: #fff !important;
            }
        }
    }
}

@media(min-width: 550px) and (max-width: 767px) {
    .example-sect {
        ul {
            margin-left: -24px;
            li {
                width: 50%;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 549px) {
    .example-sect {
        .example-wrap {
            ul {
            margin-left: -20px;
            li {
                a {
                    display: block;
                    margin: 0 auto;
                    width: 250px !important;
                  }
                }
            }
        }
    }
    
    .content-sect {
        .content {
             .content-title {
                position: relative;
                margin-top: -50px;
                padding: 0px 5px;
                top: auto;
                left: auto;
                text-align: center;
            }
        }
    }
    
}

@media(min-width: 320px) and (max-width: 360px) {
     .content-sect {
        .content {
            padding: 29px 10px 0px 10px;
             .content-title {
               font-size: 23px;
            }
        }
    }
}